.separador {
    float: left;
    width: 120px;
    height: 100px;
    margin: 1em;
  }
  .barra {
    
    width: 105%;
    
}
  .table {
    
    border-collapse: separate;
    border-spacing: 95px 5px;
    
}
.publicar{
    margin: auto;
    width: 75%;
}