<div class="jumbotron contenedor">
  <h1 class="display-3">Bienvenido, amig@!</h1>
  <p class="lead">En esta aplicación web podras pueblicar como contratar servicios en tu tiempo libre!.</p>
  <hr class="my-4">
  <p>Las personas que participan ofrecen su tiempo haciendo pequeños servicios, relacionados con la vida cotidiana, a cambio de tiempo de otras personas;entre los servicios que se ofrecen se encuentran pequeñas reparaciones domésticas, sesiones de masaje, clases de cocina, acompañamiento de personas dependientes, etc.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://es.wikipedia.org/wiki/Banco_de_tiempo" role="button" target="_blank">Mas información</a>
  </p>
</div>