<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card-body">
      <h2>Acceder</h2>
      <form>
        <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="from-control" size=90>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="from-control" size=90>
      </div>
      <div class="col-13 text-right">
        <a routerLink="/sidebar"><button class="button success" (click)="addOferta()">Ingresar</button></a>
      </div>
      </form>
    </div>
  </div>
</div>

