.bloque{
    
    background: red;
    width: 90%;
    height: 500px;
}
.main-container {
    margin-top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    clear:both;
float:left;
}