<div class="card">
  <div class="card-header">
      <b>Buscar ofertas</b>
  </div>
</div>
<div class="card-content p-2 publicar">
<form>
  <input type="text" data-role="input" data-search-button="true" placeholder="Clases de cálculo">
</form>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clases de cocina</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  class="btn btn-success fg-white" (click)="open(content)">Solicitar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clases de karate</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  class="btn btn-success fg-white" (click)="open(content)">Solicitar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Clases de física</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  class="btn btn-success fg-white" (click)="open(content)">Solicitar</a>
            
          </div>
        </div>
      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Datos del Publicante</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <input [hidden]="true" type="file" id="foto" #fileInput
            (change)="CodificarArchivo($event)" accept="image/*">
            <img (click)="fileInput.click()" src="https://static.thenounproject.com/png/17241-200.png" >
          </div>
          <br/>
            <table class="table striped row-border">
                <thead>

                </thead>
                <tbody>
                <tr>
                    
                    <td>Nombre y Apellido:</td>
                    
                    <td>Cristian Narváez</td>
                </tr>
                <tr>
                    <td>Descripción:</td>
                    
                    <td>xxxxxxxxx</td>
                </tr>
                <tr>
                    <td>Email:</td>
                  
                    <td>xxxx@xx.xxx</td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    
                    <td>0000000</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Aceptar</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Cancel click')">Cancelar</button>
        </div>
      </ng-template>
      
</div>
